@media (max-width: 1050px) {

    footer div.figures {
    grid-template-columns: none;
    }
}

@media (max-width: 980px) {

    header div#inicio{
    flex-direction: column;
    }
    header div#hora {
        margin: 0;
    }
}

@media (max-width: 520px) {
    body {
        position: absolute;
    }

    footer div.figures figure img {
        height: 200px;
        width: 300px;
    }

    footer h3 {
        font-size: 30px;
    }
}